<div class="nested-fields" id="dropNestedFields">


  <div class="row">
    <div class="form-group col-md-1">
      <%= f.label :drop_number, "Drift #", class: "control-label" %>
      <%= f.text_field :drop_number, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :lines, "Fished", class: "control-label" %>
      <%= f.select(:lines, ["Fish", "Squid", "Both"], {}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :start_time, "Start Time", class: "control-label" %>
      <%= f.time_field :start_time, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :start_depth, "Start Depth", class: "control-label" %>
      <%= f.text_field :start_depth, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-1">
    </div>

    <div class="form-group col-md-2">
      <%= f.label :start_lat_deg, "Start Lat Deg", class: "control-label" %>
      <%= f.text_field :start_lat_deg, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-2">
      <%= f.label :start_lat_min, "Start Lat Min", class: "control-label" %>
      <%= f.text_field :start_lat_min, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :start_lon_deg, "Start Lon Deg", class: "control-label" %>
      <%= f.text_field :start_lon_deg, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-2">
      <%= f.label :start_lon_min, "Start Lon Min", class: "control-label" %>
      <%= f.text_field :start_lon_min, class: "form-control" %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="form-group col-md-2">
      <%= f.label :end_time, "End Time", class: "control-label" %>
      <%= f.time_field :end_time, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :end_depth, "End Depth", class: "control-label" %>
      <%= f.text_field :end_depth, class: "form-control" %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="form-group col-md-2">
      <%= f.label :end_lat_deg, "End Lat Deg", class: "control-label" %>
      <%= f.text_field :end_lat_deg, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-2">
      <%= f.label :end_lat_min, "End Lat Min", class: "control-label" %>
      <%= f.text_field :end_lat_min, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :end_lon_deg, "End Lon Deg", class: "control-label" %>
      <%= f.text_field :end_lon_deg, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-2">
      <%= f.label :end_lon_min, "End Lon Min", class: "control-label" %>
      <%= f.text_field :end_lon_min, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :fish_caught, "Fish Caught?", class: "control-label" %>
      <%= f.select(:fish_caught, [ "Yes", "No" ], {}, {class: "form-control"}) %>
    </div>
 
    <%= link_to_remove_association "remove<br /> drop".html_safe, f %>
  </div>        


</div>
