<div class="nested-fields">
  
  Drop Number:      <%= f.text_field    :drop_number   %>
  Lines Fished:     <%= f.text_field    :lines %>
  Start Time:       <%= f.time_field    :start_time %>
  Start Depth:      <%= f.number_field  :start_depth %>
  Start Latitude:   <%= f.text_field    :start_lat %>
  Start Longitude:  <%= f.text_field    :start_lon %>
  End Time:         <%= f.time_field    :end_time %>
  End Depth:        <%= f.number_field  :end_depth %>
  End Latitude:     <%= f.text_field    :end_lat %>
  End Longitude:    <%= f.text_field    :end_lon %>
  Fish Caught?:     <%= f.text_field    :fish_caught %>

  
  <%= link_to_remove_association "remove drop", f %>

</div>
