<div class="nested-fields" id="dropNestedFields">


  <div class="row">
    <div class="form-group col-md-1">
      <%= f.label :drop_number, "Drop #", class: "control-label" %>
      <%= f.text_field :drop_number, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :lines, "Lines Fished", class: "control-label" %>
      <%= f.select(:lines, ["Line 1", "Line 2", "Both Lines"], {}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :start_time, "Start Time", class: "control-label" %>
      <%= f.time_field :start_time, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :start_depth, "Start Depth", class: "control-label" %>
      <%= f.text_field :start_depth, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :start_lat, "Start Lat", class: "control-label" %>
      <%= f.text_field :start_lat, class: "form-control latitude", id: "latitude_1" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :start_lon, "Start Lon", class: "control-label" %>
      <%= f.text_field :start_lon, class: "form-control longitude", id: "longitude_1" %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="form-group col-md-2">
      <%= f.label :end_time, "End Time", class: "control-label" %>
      <%= f.time_field :end_time, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :end_depth, "End Depth", class: "control-label" %>
      <%= f.text_field :end_depth, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :end_lat, "End Lat", class: "control-label" %>
      <%= f.text_field :end_lat, class: "form-control latitude", id: "latitude_2" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :end_lon, "End Lon", class: "control-label" %>
      <%= f.text_field :end_lon, class: "form-control longitude", id: "longitude_2" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :fish_caught, "Fish Caught?", class: "control-label" %>
      <%= f.select(:fish_caught, [ "Yes", "No" ], {}, {class: "form-control"}) %>
    </div>
 
    <%= link_to_remove_association "remove<br /> drop".html_safe, f %>
  </div>        


</div>
