<%= form_for @trip do |f| %>
  <%= render 'shared/errors', object: @trip %>


  <div class="container tripContainer">
    <div class="row tripSection">
      <div class="col-md-2 formSidebar">
        <div id="tripSidebarContent">Trip Section</div>
      </div>

      <div class="col-md-10 tripSectionData">
        <div class="row">
          <div class="form-group col-md-3">
            <%= f.label :user_id, "Observer", class: "control-label" %>
            <%= f.collection_select(:user_id, User.all, :id, :name, {}, {class: "form-control"}) %>
          </div> 

          <div class="form-group col-md-3">
            <%= f.label :manager_id, "Manager", class: "control-label" %>
            <%= f.collection_select(:manager_id, Manager.all, :id, :name, {}, {class: "form-control"}) %>
          </div>

          <div class="form-group col-md-3">
            <%= f.label :date, "Date", class: "control-label" %>
            <%= f.text_field :date, class: "form-control" %>
          </div>

          <div class="form-group col-md-3">
            <%= f.label :vessel, "Vessel", class: "control-label" %>
            <%= f.text_field :vessel, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            <%= f.label :captain_id, "Captain", class: "control-label" %>
            <%= f.collection_select(:captain_id, Captain.all, :id, :name, {},  {class: "form-control"}) %>
          </div>

          <div class="form-group col-md-3">
            <%= f.label :depart_time, "Departure Time", class: "control-label" %>
            <%= f.time_field :depart_time, class: "form-control" %>
          </div>

          <div class="form-group col-md-3">
            <%= f.label :return_time, "Return Time", class: "control-label" %>
            <%= f.time_field :return_time, class: "form-control" %>
          </div>

          <div class="form-group col-md-3">
            <%= f.label :trip_notes, "Trip Notes", class: "control-label" %>
            <%= f.text_area :trip_notes, class: "form-control" %>
          </div>
        </div>
      </div> 
    </div>

    <div class="mySamples">
      <%= f.fields_for :samples do |sample| %>
        <%= render "sample_fields", f: sample %>
      <% end %>

      <div class="links">
        <%= link_to_add_association "add sample", f, :samples, class: "addSamplesLink"  %>
      </div></div>


  <%= f.submit %>
<% end %>

