
<h1>New Trip</h1>
<%= form_for @trip do |f| %>
  <p> 
    Date: <%= f.date_field :date %>
  </p>
  <p> 
    Vessel: <%= f.text_field :vessel %>
  </p>
  <p> 
    Captain: <%= f.collection_select(:captain_id, Captain.all, :id, :name) %>
  </p>
  <p> 
    Observer: <%= f.collection_select(:observer_id, Observer.all, :id, :name) %>
  </p>
  <p> 
    Depart Time: <%= f.time_field :depart_time %>
  </p>
  <p> 
    Return Time: <%= f.time_field :return_time %>
  </p>
  <p> 
    Trip Notes: <%= f.text_field :trip_notes %>
  </p>

      <%= f.fields_for :samples do |s| %>
        Grid Number: <%= s.text_field :grid_number %>
        Arrival Time: <%= s.time_field :arrival_time %>
        Wind Speed: <%= s.text_field :wind_speed %>
        Wave Height: <%= s.text_field :wave_height %>
        Current Speed: <%= s.text_field :current_speed %>
        Sample Notes: <%= s.text_field :sample_notes %>
      <% end %>
        <%= link_to_add_association 'add sample', f, :samples %>


  <p>
    <%= f.submit 'Create Trip' %>
  </p>
<% end %>



