<h1> Trip </h1>


<%= form_for @trip do |f| %>
  
  <%= render 'shared/errors', object: @trip %>
  
  <div>
  Date: <%= f.date_field :date %>
  Vessel: <%= f.text_field :vessel %>
  Captain: <%= f.collection_select(:captain_id, Captain.all, :id, :name) %>
  Observer: <%= f.collection_select(:observer_id, Observer.all, :id, :name) %>
  Departure Time: <%= f.time_field :depart_time %>
  Return Time: <%= f.time_field :return_time %>
  Trip Notes: <%= f.text_field :trip_notes %>
  </div>


  <div> 
    <p><strong>Samples:</strong></p>
    
    <div id="samples">
    <%= f.fields_for :samples do |sample| %>
      <%= render "sample_fields", f: sample %>
    <% end %>

      <div class="links">
        <%= link_to_add_association "add sample", f, :samples  %>
      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
