<div class="sampleContainer">
  <div class="col-md-2 sampleSidebar">
    <div id="sampleSidebarContent">Sample Section</div> 
  </div>
  <div class="col-md-10 sampleSectioData">
    <div class="nested-fields">
      <div class="row">
        <div class="form-group col-md-2">
          <%= f.label :grid_number, "Grid Number", class: "control-label" %>
          <%= f.text_field :grid_number, class: "form-control gridNumber" %>
        </div>

        <div class="form-group col-md-2">
          <%= f.label :arrival_time, "Arrival Time", class: "control-label" %>
          <%= f.time_field :arrival_time, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">
          <%= f.label :wind_speed, "Wind Speed", class: "control-label" %>
          <%= f.text_field :wind_speed, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">
          <%= f.label :wave_height, "Wave Height", class: "control-label" %>
          <%= f.text_field :wave_height, class: "form-control" %>
        </div>

        <div class="form-group col-md-2">
          <%= f.label :current_speed, "Current Speed", class: "control-label" %>
          <%= f.select(:current_speed, [ "Low", "Moderate", "High" ], {}, {class: "form-control"}) %>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <%= f.label :sample_notes, "Sample Notes", class: "control-label" %>
          <%= f.text_area :sample_notes, class: "form-control" %>
        </div>
      </div>


      <div id="drops">
        <%= f.fields_for :drops do |builder| %>
          <%= render 'drop_fields', f: builder %>
        <% end %>
        <div class="links" id="addDropLink">
          <%= link_to_add_association "Add Drop",f,:drops %>
        </div>
      </div>

      <div id="catches">
        <div class="row">
          <div class="col-md-3">
            <p><strong>Species</strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>Fork Length</strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>Girth</strong></p>
          </div>
        </div> 
        <%= f.fields_for :catches do |builder| %>
          <%= render 'catch_fields', f: builder %>
        <% end %>
        <div class="links addCatchLink">
          <%= link_to_add_association "Add Catch",f,:catches %>
        </div>
      </div>


      <%= link_to_remove_association "remove sample", f %>

    </div>
  </div>
</div>
