<div class="container">          
  <div class="row home">
    <div class="span4">
      <div class="img_box">
        <a href= <%= url_for trips_path %>>
          <img <%= image_tag 'FormButton.jpg' %>
        </a>
      </div>
      <div class="text">
        <h6>My fish samples</h6>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href=<%= url_for managers_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Managers</h6>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href=<%= url_for users_path %> >
           <img <%= image_tag "FormButton.jpg" %>
       </a>
      </div>
      <div class="text">
        <h6>Users</h6>
      </div>
    </div>
  </div>
</div>
