<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :species_cd %>
    <%= f.input :scientific_name %>
    <%= f.input :common_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
